
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myImageLabel" translate="project1App.image.home.createOrEditLabel">Create or edit a Image</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="image.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="setImage($file, image)" ngf-pattern="'image/*'">
            <label class="control-label" translate="project1App.image.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + image.imageContentType + ';base64,' + image.image}}" style="max-height: 100px;" ng-if="image.image"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{image.imageContentType}} {{byteSize(image.image)}}</span>
                    <button ng-click="image.image=null;image.imageContentType=null;"
                            ng-if="image.image"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setImage($file, image)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="image.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="image.imageContentType" />
        </div>

        <div class="form-group">
            <label translate="project1App.image.space" for="field_space">space</label>
            <select class="form-control" id="field_space" name="space" ng-model="image.space" ng-options="space as space.name for space in spaces track by space.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
