<div>
    <div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
            <md-whiteframe class="md-whiteframe-3dp margin-content profile-card paddings" layout>
                <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings
                    for [<b>{{settingsAccount.login}}</b>]</h2>

                <toaster-container
                    toaster-options="{'time-out': 2000, 'close-button':true, 'position-class': 'toast-bottom-right'}">
                </toaster-container>


                <div class="alert alert-danger" ng-show="errorEmailExists"
                     translate="settings.messages.error.emailexists">
                    <strong>E-mail is already in use!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                    <strong>An error has occurred!</strong> Settings could not be saved.
                </div>

                <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="form-group">
                        <md-input-container class="md-block">
                            <label for="firstName" translate="settings.form.firstname">First
                                Name</label>
                            <input is="iron-input" type="text" id="firstName" name="firstName"
                                   placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                                   ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required
                                   maxlength="50">
                            <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                                <p class="help-block"
                                   ng-show="form.firstName.$error.required"
                                   translate="settings.messages.validate.firstname.required">
                                    Your first name is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.firstName.$error.minlength"
                                   translate="settings.messages.validate.firstname.minlength">
                                    Your first name is required to be at least 1 character.
                                </p>
                                <p class="help-block"
                                   ng-show="form.firstName.$error.maxlength"
                                   translate="settings.messages.validate.firstname.maxlength">
                                    Your first name cannot be longer than 50 characters.
                                </p>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <md-input-container class="md-block">
                            <label for="lastName" translate="settings.form.lastname">Last
                                Name</label>
                            <input is="iron-input" type="text" id="lastName" name="lastName"
                                   placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                                   ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required
                                   maxlength="50">
                            <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                                <p class="help-block"
                                   ng-show="form.lastName.$error.required"
                                   translate="settings.messages.validate.lastname.required">
                                    Your last name is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.lastName.$error.minlength"
                                   translate="settings.messages.validate.lastname.minlength">
                                    Your last name is required to be at least 1 character.
                                </p>
                                <p class="help-block"
                                   ng-show="form.lastName.$error.maxlength"
                                   translate="settings.messages.validate.lastname.maxlength">
                                    Your last name cannot be longer than 50 characters.
                                </p>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-group">
                            <md-button id="field_picture" type="file" ngf-select ng-model="picFile"
                                    name="file"
                                    accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" data-toggle="tooltip">
                                <i class="material-icons profile-button">insert_photo</i>Upload image
                            </md-button>
                        <md-button class="delete" ng-show="picFile" ng-click="picFile = null">
                            <i class="material-icons profile-button white-icon">delete</i> Remove
                        </md-button>

                        <i ng-show="myForm.file.$error.required">*required</i><br>
                        <i ng-show="myForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" style="max-width:100%" class="thumb">
                        <img ng-hide="picFile" ng-src="profile/{{settingsAccount.login}}.jpg" style="max-width:100%" class="thumb">
                          <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%"
                                 ng-bind="picFile.progress + '%'"></div>
                          </span>
                        <span ng-show="success">Upload Successfuly</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                    </div>

                    <div class="form-group">
                        <md-input-container class="md-block">
                            <label for="email" translate="global.form.email">E-mail</label>
                            <input is="iron-input" type="email" id="email" name="email"
                                   placeholder="{{'global.form.email.placeholder' | translate}}"
                                   ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required
                                   maxlength="100">
                        </md-input-container>
                        <div ng-show="form.email.$dirty && form.email.$invalid">
                            <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.minlength"
                               translate="global.messages.validate.email.minlength">
                                Your e-mail is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.maxlength"
                               translate="global.messages.validate.email.maxlength">
                                Your e-mail cannot be longer than 100 characters.
                            </p>
                        </div>
                    </div>
                    <md-input-container class="md-block">
                        <label for="description">Acerca de ti:</label>
                            <textarea is="iron-input" type="text" id="description" name="description"
                                      ng-model="settingsAccount.description" ng-minlength=5 ng-maxlength=500 required
                                      maxlength="500" md-maxlength="300" rows="5"></textarea>
                    </md-input-container>

                    <md-select id="langKey" name="langKey" ng-model="settingsAccount.langKey"
                               ng-controller="LanguageController">
                        <md-option name="langKey" ng-repeat="code in languages" value="{{code}}">
                            {{code}}
                        </md-option>
                    </md-select>

                    <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid"
                                translate="settings.form.button">Save
                        </md-button>

                </form>
            </md-whiteframe>
        </div>
    </div>

</div>
