<!--<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName" translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="langKey" translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="settingsAccount.langKey" ng-controller="LanguageController" ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>-->

<style>
    .material{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border:none;
        overflow: hidden;
        background-color: white;
        border-radius: 3px;
        margin-top: 20px;
        padding: 20px;
    }
    .profile-img{
        width: 100%;
        height: 100%;
    }
    paper-tabs{
        background-color: rgb(0, 188, 212);
        color: rgb(233, 30, 99);
    }
    .paper-tab-0 paper-ripple.paper-tab{
        color: white;
    }
    .paper-tabs-0 #selectionBar.paper-tabs{
        background-color: rgb(233, 30, 99);
    }
    .paper-tab-0:not(.iron-selected) > .tab-content.paper-tab{
        opacity: 0.54;
    }
    .titlereview{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .reviews{
        padding: 10px;
    }
    .reviews a{
        text-decoration: none;
    }
    .reviews:hover{
        background-color: #e4e4e4;
    }
    img.reviewimg{
        float: left;
        border-radius: 50%;
        margin-right: 10px;
    }
    span.name{
        vertical-align:top;
        color: rgba(0,0,0,0.87);
        font-weight: bold;
    }
    span.time{
        vertical-align:top;
        color: rgba(0,0,0,0.54);
        float: right;
    }
    span.text{
        vertical-align:top;
        color: rgba(0,0,0,0.87);
    }
    .modal-header{
        height: 300px;
    }

</style>

<div class="container">
    <div class="col-md-12">
        <div class="material">
            <div class="col-md-3">
                <img class="profile-img" src="http://placehold.it/250x250">
            </div>
            <div class="col-md-5">
                <div>
                    <h3 style="color: rgba(0,0,0,0.87);">{{account.firstName}}
                    {{account.lastName}}</h3>
                </div>
                <h4 style="color: rgba(0,0,0,0.54);">{{account.login}}</h4>
            </div>
            <div class="col-md-4">
                <iron-icon icon="icons:mail" item-icon></iron-icon>{{account.email}}<br/>
                <iron-icon icon="icons:language" item-icon></iron-icon>{{account.langKey}}
            </div>
        </div>
    </div>
        <div class="col-md-8">
            <div class="material">
                Grapic here
                <img height="400" width="100%" src="http://placehold.it/250x250">
            </div>
        </div>
        <div class="col-md-4">
            <div class="material" style="padding: 0px;">
                <paper-tabs selected="0">
                    <paper-tab ng-click="active = 1">Tus reviews</paper-tab>
                    <paper-tab ng-click="active = 2">Reviews de otros</paper-tab>
                </paper-tabs>

                <iron-pages selected="0">
                    <div>
                        <div class="reviews" ng-repeat="review in reviews">
                            <a data-toggle="modal" data-target="#myModal" href="#/settings" ng-click="onClickMarker(review)">
                                <div style="height: 55px;">
                                    <img class="reviewimg" height="100%" src="http://placehold.it/250x250">
                                    <div style="height:100%; padding-top: 3px;">
                                        <h5 class="titlereview">
                                            <span class="name">{{review.space.name}}</span>
                                            <span class="time">{{review.time}}</span><br/>
                                        </h5>
                                        <span class="text">{{review.text}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="reviews" ng-repeat="reviewBySpace in reviewsBySpace">
                            <a data-toggle="modal" data-target="#myModal" href="#/settings" ng-click="onClickMarker(reviewBySpace)">
                                <div style="height: 55px;">
                                    <img class="reviewimg" height="100%" src="http://placehold.it/250x250">
                                    <div style="height:100%; padding-top: 3px;">
                                        <h5 class="titlereview">
                                            <span class="name">{{reviewBySpace.space.name}}</span>
                                            <span class="time">{{reviewBySpace.time}}</span><br/>
                                        </h5>
                                        <span class="text">{{reviewBySpace.text}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </iron-pages>

                <script>
                    var pages = document.querySelector('iron-pages');
                    var tabs = document.querySelector('paper-tabs');

                    tabs.addEventListener('iron-select', function() {
                        pages.selected = tabs.selected;
                    });
                </script>


            </div>
        </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-image: url(http://placehold.it/250x250)">
                <h4 class="modal-title" id="myModalLabel">{{selectedReview.space.name}}</h4>
            </div>
            <div class="modal-body">
                {{selectedReview.text}}
            </div>
            <div class="modal-footer">
                <paper-button raised data-dismiss="modal">Close</paper-button>
            </div>
        </div>
    </div>
</div>


