<div ng-cloak>
    <div class="row">
        <!-- add toaster -->
        <div class="col-lg-6" id="col-left">
            <div class="padding">
                <a class="paper-item-link" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <paper-button class="fancy" raised><iron-icon icon="icons:filter-list"></iron-icon> Filters</paper-button>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="well" style="width: 100%">
                        ...
                    </div>
                </div>
                <div class="col-xs-8 no-padding-right">
                    <form name="searchForm" class="form-inline">
                        <div>
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'project1App.space.home.search' | translate }}">
                        <span>
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>

            <toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6" ng-repeat="spaceDTO in spaces">
                        <div class="thumbnail material">
                            <a ui-sref="space.detail({id:spaceDTO.space.id})">
                                <!--<img data-ng-src="{{'data:' + space.imgContentType + ';base64,' + space.img}}" style="height: 200px; min-width: 100%;" ng-if="space.img"/>-->
                                <img style="min-width: 100%;" src="http://placehold.it/350x150">
                            </a>
                            <a ng-click="like(spaceDTO.space.id)" aria-label="More">
                                <paper-fab ng-class="{true: 'fav2', false: 'fav'}[spaceDTO.liked == false]" icon="favorite-border" style="float: right; top: -30px; right: 18px; background-color: white;"></paper-fab>
                            </a>
                            <a ui-sref="space.detail({id:space.id})" class="decoration">
                                <div class="caption">
                                    <h3>{{spaceDTO.space.name}}</h3>
                                    <p style="color: rgba(0,0,0,0.54)">{{space.description}}</p>
                                    <p style="color: #43DBB9; text-align: right; font-size: 24px;font-weight: 600;">{{spaceDTO.space.price}} €</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #col-right{
                    height: 100%;
                    float: right;
                    padding: 0;
                    left: 54%;
                    position: absolute;
                    width: 46%;
                }
                #col-left{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    overflow-y: auto;
                    width: 55%;
                }
                .material{
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                    border:none;
                    overflow: hidden;
                    padding: 0;
                }
                paper-fab[icon="favorite-border"] {
                    color: #F44336;
                }
                paper-fab.fav{
                    background: #F44336 !important;
                    color: white;
                }
                paper-button.fancy{
                    background: #E91E63;
                    color: white;
                }
                .padding{
                    padding: 15px;
                }
                .cm{
                    color: #fff;
                    padding: 2px 4px;
                    font-size: 14px;
                    font-weight: bold;
                    display: block;
                    background-color: #E91E63;
                    border-radius: 2px;
                }
                .cm:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    margin-left: -9px;
                    top: auto;
                    border: 9px solid transparent;
                    border-bottom: 0;
                    border-top-color: #E91E63;
                    bottom: -5px;
                    margin-left: -5px;
                    border-width: 5px;
                }
                .custom-marker{
                    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
                    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
                    border-radius: 2px;
                }
                .cm.outside:last-child{
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                }
                a.decoration, a.decoration:hover, a.ng-scope, a.ng-scope:hover{
                    text-decoration: none;
                }
                .gm-style-iw > div{
                    padding-left: 20px;
                }
            </style>
            <div class="text-center">
                <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
            </div>
        </div>
        <div class="col-lg-6" style="height: 100%;" id="col-right">
            <ng-map
                zoom-control="true"
                zoom-control-options='{style:"small",position:"top_right"}'
                map-type-control="false"
                overview-map-control="false"
                pan-control="false"
                rotate-control="false"
                scale-control="false"
                street-view-control="false"
                zoom-to-include-markers="auto" style="height: 100%;">
                <custom-marker ng-repeat="spaceDTO in spaces"
                               id="custom-marker-{{$index}}"
                        position="[{{spaceDTO.space.lat}},{{spaceDTO.space.lng}}]"
                        data="{{data[$index]}}"
                        on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)">
                    <a ng-click="select(spaceDTO.space)">
                        <div class="cm outside">
                            {{spaceDTO.space.price}}€
                        </div>
                    </a>
                </custom-marker>
                <info-window id="foo" on-mouseover="vm.mouseover()">
                    <div ng-non-bindable="">
                        <img src="http://placehold.it/150x150"><br/>
                        <a ui-sref="space.detail({id:selectedSpace.id})">{{selectedSpace.name}}</a><br/>
                        {{selectedSpace.price}}€<br/>
                    </div>
                </info-window>
            </ng-map>
            <!--
                -Esconder PIN cuando abre el detail.
                -Hover en un espacio cambie color del PIN.
             -->
        </div>
    </div>
</div>
