<div ng-cloak>
    <div class="row">
        <!-- add toaster -->
        <div class="col-lg-6 col-xs-12" id="col-left" style="margin-top: 64px">
            <div class="padding">
                <a role="button" data-toggle="collapse" href="#collapseExample"
                   aria-expanded="false" aria-controls="collapseExample">
                    <md-button class="fancy"><i class="material-icons">filter_list</i>Filters</md-button>
                </a>
                <div class="no-padding-right" style="float: right; margin-top: 10px;">
                        <div>
                            <md-input-container class="md-block no-margin no-error" flex-gt-xs>
                                <input type="text"
                                       placeholder="Buscar..." ng-model="address">
                            </md-input-container>
                        </div>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="well filter-back" style="width: 100%; margin: 15px 0px;">
                        <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="co-filters">Precio</h4>
                                        <md-input-container class="no-margin">
                                            <label>Min price</label>
                                            <input ng-model="firstPrice" type="number" min="1">
                                        </md-input-container>
                                        <md-input-container class="no-margin">
                                            <label>Max price</label>
                                            <input ng-model="lastPrice" type="number" min="1">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="co-filters">Num.personas</h4>
                                        <md-input-container class="md-block no-margin">
                                            <label>Num. Personas</label>
                                            <input type="number" ng-model="numPers" min="1">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="co-filters">Ordenar por:</h4>
                                <md-radio-group ng-model="data.group1">
                                    <md-radio-button value="maxPrice">Precio mayor</md-radio-button>
                                    <md-radio-button value="minPrice"> Precio menor </md-radio-button>
                                    <md-radio-button value="recents">Recientes</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="co-filters">Services</h4>
                                <div class="col-lg-3" ng-repeat="(key, value) in services">
                                        <md-checkbox ng-model="ids[$index]" ng-true-value="{{value.id}}">
                                            <i class="material-icons main-icons">{{value.icon}}</i>
                                            {{ value.name }}
                                        </md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <md-button ng-click="sendFilters(firstPrice, lastPrice, numPers, ids, address)">Enviar</md-button>
                            <md-button style="float: right" ng-click="clear()">Clear All</md-button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <toaster-container
                toaster-options="{'time-out': 2000, 'close-button':true, 'position-class': 'toast-bottom-right'}">
            </toaster-container>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6" ng-repeat="spaceDTO in spaces | filter: searchSpace">
                        <div class="thumbnail material">
                            <div style="height: 150px;">
                                <a ui-sref="space.detail({id:spaceDTO.space.id})">
                                    <!--<img data-ng-src="{{'data:' + space.imgContentType + ';base64,' + space.img}}" style="height: 200px; min-width: 100%;" ng-if="space.img"/>-->
                                    <img style="min-width: 100%; height: 150px;width: 100%; object-fit: cover;" ng-src="uploads/{{spaceDTO.masterImage}}">
                                </a>
                            </div>
                            <a ng-click="like(spaceDTO.space.id)" aria-label="More">
                                <md-button ng-class="{true: 'fav2', false: 'fav'}[spaceDTO.liked == false]"
                                           icon="favorite-border"
                                           style="float: right; top: -30px; right: 18px; background-color: white;" class="md-fab">
                                    <i class="material-icons">favorite_border</i>
                                </md-button>
                            </a>
                            <a ui-sref="space.detail({id:spaceDTO.space.id})" class="decoration">
                                <div class="caption">
                                    <h3>{{spaceDTO.space.name}}</h3>
                                    <p style="color: rgba(0,0,0,0.54)">{{space.description}}</p>
                                    <p style="color: #43DBB9; text-align: right; font-size: 24px;font-weight: 600;">
                                        {{spaceDTO.space.price}} €</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .co-filters{
                    border-bottom: 1px solid #cfd8dc;
                    font-weight: 600;
                    margin-bottom: 16px;
                    padding-bottom: 8px;
                    font-size: 16px;
                    color: rgba(0,0,0,0.7);
                }
                .filter-back{
                    background: rgba(255,255,255,0.9);
                    box-shadow: 0px 5px 2px -3px rgba(0,0,0,0.2);
                    border: 1px solid #f4f4f4;
                    border-radius: 2px;
                }
                #col-right {
                    height: calc(100% - 64px) !important;
                    float: right;
                    padding: 0;
                    left: 54%;
                    position: absolute;
                    width: 46%;
                }

                #col-left {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    overflow-y: auto;
                    width: 55%;
                }

                .material {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                    border: none;
                    overflow: hidden;
                    padding: 0;
                    border-radius: 3px;
                }

                .fancy {
                    background: #E91E63;
                    color: white;
                }

                .padding {
                    padding: 15px;
                }

                .cm {
                    color: #fff;
                    padding: 2px 4px;
                    font-size: 14px;
                    font-weight: bold;
                    display: block;
                    background-color: #E91E63;
                    border-radius: 2px;
                }

                .cm:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    margin-left: -9px;
                    top: auto;
                    border: 9px solid transparent;
                    border-bottom: 0;
                    border-top-color: #E91E63;
                    bottom: -5px;
                    margin-left: -5px;
                    border-width: 5px;
                }

                .custom-marker {
                    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                }

                .cm.outside:last-child {
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                }

                a.decoration, a.decoration:hover, a.ng-scope, a.ng-scope:hover {
                    text-decoration: none;
                }

                .gm-style-iw > div {
                    padding-left: 20px;
                }

                .ng-map-info-window {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                }
                @media (max-width: 750px) {
                    #col-left{
                        width: 100%;
                        position: relative;
                    }
                }

            </style>
            <div class="text-center">
                <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                                ng-change="loadAll()"></uib-pagination>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 hidden-xs" style="height: 100%;" id="col-right" ng-init="showDetails==true">
                <ng-map
                    zoom-control="true"
                    zoom-control-options='{style:"small",position:"top_right"}'
                    map-type-control="false"
                    overview-map-control="false"
                    pan-control="false"
                    rotate-control="false"
                    scale-control="false"
                    street-view-control="false"
                    zoom-to-include-markers="auto" style="height: 100%;">
                    <custom-marker ng-repeat="spaceDTO in spaces"
                                   id="custom-marker-{{$index}}"
                                   position="[{{spaceDTO.space.lat}},{{spaceDTO.space.lng}}]"
                                   data="{{data[$index]}}"
                                   on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)">
                        <!--<a ng-click="onClickMarker(spaceDTO.space); showDetails = ! showDetails" ng-class="{ 'hidden':  showDetails }">-->
                        <a ng-click="onClickMarker(spaceDTO.space)">
                            <div class="cm outside">
                                {{spaceDTO.space.price}}€
                            </div>
                        </a>
                    </custom-marker>
                    <info-window id="foo" on-mouseover="vm.mouseover()">
                        <div>
                            <img ng-src="uploads/{{selectedSpace.name}}{{selectedSpace.id}}0.jpg" height="200" width="300"><br/>
                            <a ui-sref="space.detail({id:selectedSpace.id})">{{selectedSpace.name}}</a><br/>
                            {{selectedSpace.price}}€<br/>
                        </div>
                    </info-window>
                </ng-map>
                <!--
                    -Esconder PIN cuando abre el detail.
                    -Hover en un espacio cambie color del PIN.
                 -->
            </div>

        </div>
    </div>
</div>
