
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" translate="project1App.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="project1App.message.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="message.text"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="project1App.message.time" for="field_time">Time</label>
                <div class="input-group">
                    <input id="field_time" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="message.time" is-open="datePickerForTime.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForTimeOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="project1App.message.conversation" for="field_conversation">conversation</label>
            <select class="form-control" id="field_conversation" name="conversation" ng-model="message.conversation" ng-options="conversation as conversation.id for conversation in conversations track by conversation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="project1App.message.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="message.user" ng-options="user as user.email for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
