<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                &lt;!&ndash; jhipster-needle-add-element-to-menu - JHipster will add new menu items here &ndash;&gt;
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="service" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.service">Service</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="space" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.space">Space</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="review" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.review">Review</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="image" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.image">Image</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="conversation" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.conversation">Conversation</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="favorite" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.favorite">Favorite</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="message" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.message">Message</span></a></li>
                        &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Sign in</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        &lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <i class="material-icons" ng-click="toggleRight()"
               ng-hide="isOpenRight()"
               class="md-primary">menu</i>
        </md-button>
        <h2>
            <span>CoWork</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-sidenav class="md-sidenav-left  md-whiteframe-z2" md-component-id="right">
    <md-toolbar  class="md-theme-light md-tall">
        <div class="pad-menu">
            <img class="img-menu" ng-src="profile/{{account.login}}.jpg" alt="{{account.login}}"/>
            <span class="md-title">{{account.login}}</span>
            <span class="md-subhead">{{account.email}}</span>
        </div>
    </md-toolbar>
    <md-content>
        <md-list-item href="#/">
            <p><i class="material-icons icon-list">search</i> Busqueda </p>
        </md-list-item>
        <md-list-item ui-sref="space">
            <p><i class="material-icons icon-list">person</i> Tu perfil </p>
        </md-list-item>
        <md-list-item ui-sref="conversation">
            <p><i class="material-icons icon-list">chat_bubble_outline</i> Mensajes </p>
        </md-list-item>
        <md-list-item ui-sref="favorite">
            <p><i class="material-icons icon-list">favorite_border</i> Favoritos </p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="logout()">
            <p><i class="material-icons icon-list">close</i> Cerrar sesión </p>
        </md-list-item>
    </md-content>
</md-sidenav>

