

<div class="container">
    <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-6 col-md-push-1">
                <div class="material">
                    <div>
                        <h2>Tus espacios</h2>
                        <jh-alert></jh-alert>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4 no-padding-left">
                                    <md-button class="md-raised fancy" ui-sref="space.new" >
                                        <i class="material-icons">add</i>
                                        <span
                                            class="hidden-xs" translate="project1App.space.home.createLabel">Create new Space
                                        </span>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <br/>
                                <div flex-xs flex-gt-xs="100" layout="column" ng-repeat="space in spaces">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{space.name}}</span>
                                                    <span class="md-subhead">{{space.price}}</span>
                                                </md-card-title-text>
                                                <md-card-title-media>
                                                    <div class="md-media-sm card-media"><img ng-src="uploads/{{space.name}}{{space.id}}0.jpg"></div>
                                                </md-card-title-media>
                                            </md-card-title>
                                            <md-card-actions layout="row" layout-align="end center">
                                                    <md-button class="edit" type="submit"
                                                               ui-sref="space.edit({id:space.id})">
                                                        <i class="material-icons">edit</i>
                                                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                                                    </md-button>
                                                    <md-button class="delete" type="submit"
                                                               ui-sref="space.delete({id:space.id})">
                                                        <i class="material-icons">delete</i>
                                                        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                                    </md-button>
                                            </md-card-actions>
                                        </md-card>
                                </div>
                        <div class="text-center">
                            <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-4 col-md-push-1">
            <div class="material">
                    <img class="profile-img-space" ng-src="profile/{{account.login}}.jpg">
                    <div>
                        <h3 style="color: rgba(0,0,0,0.87);">{{account.firstName}}
                            {{account.lastName}}</h3>
                    </div>
                    <h4 style="color: rgba(0,0,0,0.54);">{{account.login}}</h4>
                <p>{{account.description}}</p>
                    <div style="line-height: 40px;">
                        <i class="material-icons profile-icon">mail</i>{{account.email}}<br/>
                        <i class="material-icons profile-icon">language</i>{{account.langKey}}
                    </div>
                    <div>
                        <md-button ui-sref="password"><i class="material-icons profile-button">lock_outline</i> Contraseña</md-button>
                        <md-button ui-sref="edit"><i class="material-icons profile-button">edit</i> Perfil</md-button>
                    </div>
            </div>
        </div>
        <div class="col-md-4 col-md-pull-1 pull-right pull-sm-right col-sm-12">
            <div class="material" style="padding: 0px;">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                            <md-tab label="Tus reviews">
                                <md-content class="md-padding">
                                    <div ng-repeat="review in reviews">
                                        <a class="delete-a" data-toggle="modal" data-target="#myModal" href="#/spaces" ng-click="onClickMarker(review)">
                                            <md-list-item class="md-3-line">
                                                <img ng-src="profile/{{review.user.login}}.jpg" class="md-avatar" alt="{{review.user.login}}" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h3>{{review.space.name | limitTo: 15}}{{review.space.name.length > 15 ? '...' : ''}}</h3>
                                                    <h4>{{review.time | date:"MM/dd/yy 'at' h:mma"}}</h4>
                                                    <p>{{review.text | limitTo: 35}}{{review.text.length > 35 ? '...' : ''}}</p>
                                                </div>
                                                <md-divider ng-if="!$last"></md-divider>
                                            </md-list-item>
                                        </a>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Reviews de otros">
                                <md-content class="md-padding">
                                    <div>
                                        <div ng-repeat="reviewBySpace in reviewsBySpace">
                                            <a class="delete-a" data-toggle="modal" data-target="#myModal" href="#/spaces" ng-click="onClickMarker(reviewBySpace)">
                                                <md-list-item class="md-3-line" ng-repeat="reviewBySpace in reviewsBySpace">
                                                    <img ng-src="profile/{{reviewBySpace.user.login}}.jpg" class="md-avatar" alt="{{reviewBySpace.user.login}}" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>{{reviewBySpace.space.name | limitTo: 15}}{{reviewBySpace.space.name.length > 15 ? '...' : ''}}</h3>
                                                        <h4>{{reviewBySpace.time | date:"MM/dd/yy 'at' h:mma"}}</h4>
                                                        <p>{{reviewBySpace.text | limitTo: 35}}{{reviewBySpace.text.length > 35 ? '...' : ''}}</p>
                                                    </div>
                                                    <md-divider ng-if="!$last"></md-divider>
                                                </md-list-item>
                                            </a>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="http://placehold.it/250x250" alt="img" height="80">
                    <h4 class="modal-title" id="myModalLabel">
                        {{selectedReview.user.firstName}}
                    </h4>
                    <h5>{{selectedReview.time}}</h5>
                </div>
                <div class="modal-header">
                    <h5>Texto:</h5>
                    {{selectedReview.text}}
                </div>
                <a data-dismiss="modal" ui-sref="space.detail({id:selectedReview.space.id})">
                    <div class="modal-body rspace" style="background-image: url(http://placehold.it/250x250);">
                        <h3>{{selectedReview.space.name}}</h3>
                        <h4>{{selectedReview.space.price}}€</h4>

                    </div>
                </a>
                <div class="modal-footer">

                    <md-button data-dismiss="modal">Close</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
