<style>
    html{
        overflow-y: scroll;
    }
</style>
<md-toolbar md-scroll-shrink ng-if="true" class="cover" style="background-image: url(uploads/{{imageSpace[0].image}}); background-position: center">
        <md-button class="md-icon-button" aria-label="Settings">
            <i class="material-icons" onclick="window.history.back()">keyboard_backspace</i>
        </md-button>
</md-toolbar>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">

            <md-whiteframe class="md-whiteframe-3dp margin-content" layout style="display: block;">
        <div class="modal-header" style="padding: 20px;">
            <h2 class="modal-title">{{space.name}}</h2>
            <h5>{{space.streetAddress}}</h5>
            <h3 class="subtitle">{{space.price}}€</h3>
        </div>
        <div class="spacer"></div>
        <div class="col-lg-6" style="padding: 0px 20px;">
            <h2 class="paper-font-title">Descripción</h2>
            <div class="descripcion">
                <p ng-text-truncate="space.description"
                   ng-tt-chars-threshold="100"></p>
            </div>

        </div>
        <div class="col-lg-6" style="padding: 0px 20px;">
            <h2 class="paper-font-title">Servicios</h2>
            <div class="icon-content" style="width: 100%">
                <div class="row">
                         <span ng-repeat="service in space.services">
                            <div class="col-xs-6 col-sm-6 col-md-6" style="margin-bottom: 10px;"><i class="material-icons color" style="display: inline;">{{service.icon}}</i><span>{{service.name}}</span></div>
                        </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0px 0px">
            <div class="col-lg-12" style="padding: 0px 20px;">
                <h2>Fotos</h2>
                <ng-gallery images="imageGallery">
                </ng-gallery>
            </div>
            <div class="col-lg-6" style="padding: 0px 20px;">
                <h2>Reviews</h2>
                <div class="reviews" ng-repeat="reviewByCurrentSpace in reviewsByCurrentSpace">
                    <a data-toggle="modal" data-target="#myModal" ng-click="onClickMarker(reviewByCurrentSpace)">
                        <div style="height: 55px;">
                            <img class="reviewimg" height="100%" ng-src="profile/{{reviewByCurrentSpace.user.login}}.jpg" width="55px">
                            <div style="height:100%; padding-top: 3px;">
                                <h5 class="titlereview">
                                    <span class="name">{{reviewByCurrentSpace.user.firstName}}</span>
                                    <span class="time">{{reviewByCurrentSpace.time | date:"MM/dd/yy 'at' h:mma"}}</span><br/>
                                </h5>
                                <span class="text">{{reviewByCurrentSpace.text | limitTo: 35}}{{reviewByCurrentSpace.text.length > 35 ? '...' : ''}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <div ng-show="space.user.login==account.login" class="alert alert-warning">
                        No puedes escribir reviews a ti mismo.
                    </div>
                    <form ng-submit="addReview()" ng-hide="test || testReview || space.user.login==account.login">
                        <div class="input-group">
                            <md-input-container class="md-block" flex-gt-sm>
                                <input ng-model="text3" type="text" placeholder="Escribe aqui tu review"/>
                            </md-input-container>
                          <span class="input-group-btn">
                                    <md-button class="md-icon-button" type="submit">
                                          <i class="material-icons color">send</i>
                                      </md-button>

                          </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
            <div class="col-lg-6" style="padding: 0px 20px;">
                <h2>Enviar mensaje</h2>

                <form ng-hide="getConversation != null ||space.user.login==account.login || testConv" ng-submit="addMessage()">
                    <div class="input-group">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input ng-model="text2" type="text" placeholder="Escribe aqui tu mensaje"/>
                        </md-input-container>
                          <span class="input-group-btn">
                                       <md-button class="md-icon-button" type="submit">
                                          <i class="material-icons color">send</i>
                                      </md-button>
                          </span>
                    </div><!-- /input-group -->
                </form>
                <div ng-show="space.user.login==account.login" class="alert alert-warning">
                    No te puedes enviar mensajes a ti mismo.
                </div>
                <div ng-show="testConv || getConversation != null" class="alert alert-success">
                    <a ui-sref="conversation.detail({id:space.id})">Enviado! Accede a la conversación</a>
                </div>
            </div>

        </div>
        <div>
            <h2 style="padding: 0px 20px">Mapa</h2>
            <ng-map
                zoom="16"
                style="height: 300px;"
                zoom-control="true"
                zoom-control-options='{style:"small",position:"top_right"}'
                map-type-control="false"
                overview-map-control="false"
                pan-control="false"
                rotate-control="false"
                scale-control="false"
                street-view-control="false"
                center="[{{space.lat}},{{space.lng}}]"
                style="height: 100%;">
                <marker position="[{{space.lat}},{{space.lng}}]"></marker>
                <!--
                <custom-marker id="custom-marker-{{$index}}"
                               position="[{{space.lat}},{{space.lng}}]"
                               data="{{data[$index]}}"
                               on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)">
                    <a ng-click="onClickMarker(space); showDetails = ! showDetails" ng-class="{ 'hidden':  showDetails }">
                        <div class="cm outside">
                            {{space.price}}€
                        </div>
                    </a>
                </custom-marker>-->
            </ng-map>
        </div>
    </md-whiteframe>
    </div>
        <div class="col-md-4 col-lg-4">
            <md-whiteframe class="md-whiteframe-3dp margin-content profile-card" layout>
                <img class="profile-card-img" ng-src="profile/{{space.user.login}}.jpg" height="100%" width="100%">
                <h4>{{space.user.firstName}} {{space.user.lastName}}</h4>
                <span>{{space.user.description}}</span>
            </md-whiteframe>
        </div>
    </div>
</div>

<style>
    .profile-card-img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 0px auto;
        display: block;
    }
    .profile-card{
        padding: 20px 35px;
        text-align: center;
    }

    .cm {
        color: #fff;
        padding: 2px 4px;
        font-size: 14px;
        font-weight: bold;
        display: block;
        background-color: #E91E63;
        border-radius: 2px;
    }

    .cm:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        margin-left: -9px;
        top: auto;
        border: 9px solid transparent;
        border-bottom: 0;
        border-top-color: #E91E63;
        bottom: -5px;
        margin-left: -5px;
        border-width: 5px;
    }

    .custom-marker {
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    }

    .cm.outside:last-child {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .titlereview {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .reviews {
        padding: 10px;
    }

    .reviews a {
        text-decoration: none;
    }

    .reviews:hover {
        background-color: #e4e4e4;
    }

    img.reviewimg {
        float: left;
        border-radius: 50%;
        margin-right: 10px;
    }

    span.name {
        vertical-align: top;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
    }

    span.time {
        vertical-align: top;
        color: rgba(0, 0, 0, 0.54);
        float: right;
    }

    span.text {
        vertical-align: top;
        color: rgba(0, 0, 0, 0.87);
    }

</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="profile/{{selectedReview.user.login}}.jpg" alt="img" height="80" width="80">
                <h4 class="modal-title" id="myModalLabel">
                    {{selectedReview.user.firstName}}
                </h4>
                <h5>{{selectedReview.time}}</h5>
            </div>
            <div class="modal-header">
                <h5>Texto:</h5>
                {{selectedReview.text}}
            </div>
            <a data-dismiss="modal" ui-sref="space.detail({id:selectedReview.space.id})" style="text-decoration: none">
                <div class="modal-body rspace" style="background-image: url(uploads/{{selectedReview.space.name}}{{selectedReview.space.id}}0.jpg); color: white;">
                    <h3>{{selectedReview.space.name}}</h3>
                    <h4>{{selectedReview.space.price}}€</h4>

                </div>
            </a>
            <div class="modal-footer">
                <md-button data-dismiss="modal">Close</md-button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-header img {
        border-radius: 50%;
        float: left;
        margin-right: 12px;
    }

    .modal-header h4 {
        padding-top: 12px;
    }

    .rspace {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

</style>

